# ============================
# Node / Yarn
# ============================
node_modules/
yarn-error.log
yarn-debug.log*
.pnp/
.pnp.js

# ============================
# Build output
# ============================
dist/
build/
out/
coverage/

# ============================
# Temp files
# ============================
*.log
*.tmp
*.temp
*.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ============================
# Environment / Secrets
# ============================
.env
.env.*
!.env.example

# ============================
# Webpack / Cache
# ============================
.cache/
webpack-stats.json

# ============================
# TypeScript
# ============================
*.tsbuildinfo
tsconfig.tsbuildinfo

# ============================
# Misc
# ============================
*.local
.idea/
*.swp
*.swo
*.dev.md
test/